.Navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Navigation li {
  display: inline-block;
  margin: 20px;
}

.Navigation Link {
  text-decoration: none;
  color: black;
}

.Navigation Link:hover,
.Navigation Link:active {
  color: #fa923f;
}